.Header {
    width: 100%;
    background: #0746a7;
    padding: 20px 30px;
    font-family: 'Poppins';
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    font-size: 18px;
    font-weight: 400;
    margin-right: 100px;
}
.logo span {
    font-size: 24px;
    font-weight: normal;
}
.HeaderSearch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.HeaderControls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}
